@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lars-Regular';
  src: url('/fonts/Lars-Regular.woff2') format('woff2'),
    url('/fonts/Lars-Regular.woff') format('woff');
  font-weight: 400;
  style: normal;
}

body {
  /* @apply bg-gray-200; */
  /* background-color: #988C99; */
  /* background-color: #BFA16A; */
  /* background-color: #fcafd9; */
  background-color: #86c663;
  font-family: 'Lars-Regular', sans-serif;
}

.map-label {
  @apply bg-white bg-opacity-0 whitespace-nowrap text-sm;
  @apply px-3 py-1 rounded-full;
  @apply select-none tracking-wider;
  /* @apply underline decoration-from-font underline-offset-4; */
  /* @apply blur; */
  color: #351A04;

  font-family: Trattatello;
  /* font-family: 'BigCaslon-Medium'; */
  /* font-family: 'Cochin'; */
  /* font-family: 'Didot'; */
  /* font-variant: small-caps; */
  /* font-style: italic; */
  /* font-weight: 100; */
}

textarea, input, button {
  /* &:focus { @apply outline-offset-0 outline outline-1 outline-orange-500; } */
  &:focus {
    /* @apply shadow shadow-orange-500 outline-none; */
    @apply shadow-input shadow-orange-500 outline-none;
  }
}

.text-bg {
  @apply bg-white rounded-full;
  @apply bg-opacity-80;

  line-height: 1.6687;

  padding: 0.2em 1.3rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.fade-enter-active,
.fade-exit-active,
.fade-right-enter-active,
.fade-right-exit-active {
  @apply transition-all duration-300;
}

.fade-enter { @apply opacity-0; }
.fade-enter-active { @apply opacity-100; }
.fade-exit { @apply opacity-100; }
.fade-exit-active { @apply opacity-0; }

.fade-right-enter { @apply translate-x-1/2 opacity-0; }
.fade-right-enter-active { @apply opacity-100 translate-x-0; }
.fade-right-exit { @apply opacity-100 translate-x-0; }
.fade-right-exit-active { @apply opacity-0 translate-x-1/2; }

.prose {
  & h1, & h2, & h3, & h4, & h5, & h6 { @apply mb-4; }
  & p { @apply mb-4; }
}
